:root {
    --dark: hsl(0, 0%, 0%);
    --light: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 100%);
    --light-gray: hsl(0, 0%, 100%);
    --sunset: hsl(0, 0%, 100%);
    --grape: hsl(0, 0%, 100%);
    --blueberry: hsl(0, 0%, 100%);
    --sky: hsl(0, 0%, 100%);
    --nordic: hsl(0, 0%, 100%);
    --mint: hsl(0, 0%, 100%);
    --bless: hsl(0, 0%, 100%);
    --peach: hsl(0, 0%, 100%);
}
